{% extends 'bases/base.html' %}

{% block content %}
    	<!-- start banner Area -->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Contact Us
					</h1>
					<p class="text-white link-nav"><a href="{% url 'blog:home' %}">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="contact.html">
							Contact Us</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start contact-page Area -->
	<section class="contact-page-area section-gap">
		<div class="container">
			<div class="row">
				<div class="map-wrap" style="width:100%; height: 445px;" id="map"></div>
				<div class="col-lg-4 d-flex flex-column address-wrap">
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-home"></span>
						</div>
						<div class="contact-details">
							<h5>Dhaka, Bangladesh</h5>
							<p>56/8, West Panthapath</p>
						</div>
					</div>
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-phone-handset"></span>
						</div>
						<div class="contact-details">
							<h5>00 (880) 9865 562</h5>
							<p>Mon to Fri 9am to 6 pm</p>
						</div>
					</div>
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-envelope"></span>
						</div>
						<div class="contact-details">
							<h5>support@codethemes.com</h5>
							<p>Send us your query anytime!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<form class="form-area " id="myForm" action="mail.php" method="post" class="contact-form text-right">
						<div class="row">
							<div class="col-lg-6 form-group">
								<input v-model="form.nom" name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'"
								 class="common-input mb-20 form-control" required="" type="text">

								<input v-model="form.email" name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
								 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control"
								 required="" type="email">

								<input v-model="form.sujet" name="subject" placeholder="Enter your subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your subject'"
								 class="common-input mb-20 form-control" required="" type="text">
							</div>
							<div class="col-lg-6 form-group">
								<textarea v-model="form.message" class="common-textarea form-control" name="message" placeholder="Messege" onfocus="this.placeholder = ''"
								 onblur="this.placeholder = 'Messege'" required=""></textarea>
							</div>
							<div class="col-lg-12 d-flex justify-content-between">
								<div class="alert-msg" style="text-align: left;"></div>
								<button v-on:click.prevent="Post_message" class="genric-btn primary circle text-uppercase" style="float: right;">Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End contact-page Area -->
{% endblock content %}


{% block vue %}
<script>
var app = new Vue({
    el: '#app',
    data: {
        loader: true,
		content:false,
		searching:false,
		form:{
			nom:"",
			email:"",
			sujet:"",
			message:""
		},
		dataMessage:"",
		new_email:"",
		data_email:"",
		search_result:[],
        base_url:"",
		message:false,
    },
    delimiters: ["${","}"],
    mounted(){
        this.base_url = window.location.protocol + '//' + window.location.host + '/'
    },
    methods: {
        Post_news: function(){
            console.log('data posting')
            axios.defaults.xsrfCookieName = 'csrftoken'
			axios.defaults.xsrfHeaderName = 'X-CSRFToken'
            axios({
                url: this.base_url + 'graphql',
                method: 'post',
                data: {
                    query: `
                    mutation{
						createCreatenewsletter(email:"${ this.new_email }"){
							email
						}
					}
                    `
                }
            })
            .then(response => {

				result = response.data.data
				this.data_articles = result.createCreatenewsletter.email
				this.new_email=""
                console.log(result)
            })
            .catch((err) => {
                console.log(err);
            })
		},
		Post_message: function(){
            console.log('data posting')
            axios.defaults.xsrfCookieName = 'csrftoken'
			axios.defaults.xsrfHeaderName = 'X-CSRFToken'
            axios({
                url: this.base_url + 'graphql',
                method: 'post',
                data: {
                    query: `
                    mutation{
						createCreatemessage(email:"${ this.form.email }", nom:"${ this.form.nom }", sujet:"${ this.form.sujet }", message:"${ this.form.message }") {
							email
							message
						}
					}
                    `
                }
            })
            .then(response => {

				result = response.data.data
				this.dataMessage = result.createCreatemessage
				this.form.email=""
				this.form.nom=""
				this.form.message=""
				this.form.sujet=""
                console.log(result)
            })
            .catch((err) => {
                console.log(err);
            })
        },
    },
})
</script>
{% endblock vue %}