{% extends 'bases/base.html' %}

{% block content %}
{% load social_share %}
        <!-- start banner Area -->
        <section class="banner-area relative">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                        <h1 class="text-white">
                            Blog Details
                        </h1>
                        <p class="text-white link-nav"><a href="{% url 'blog:home' %}">Home </a> <span class="lnr lnr-arrow-right"></span>
                            <a href="">
                                Blog Details</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End banner Area -->
    
        <!-- Blog Area -->
        <section class="blog_area section-gap single-post-area">
            <div class="container">
                <div class="row">
                    <div v-if="content" class="col-lg-8">
                        <div  class="main_blog_details">
                            <img class="img-fluid" :src=`${base_url}`+`media/`+`${article.photo}` alt="">
                            <h4>${ this.article.titre }</h4>
                            <div class="user_details">
                                <div class="float-left">
                                    <a v-for="ta in this.article.tagName.edges" href="#">${ ta.node.nom }</a>
                                </div>
                                <div class="float-right">
                                    <div class="media">
                                        <div class="media-body">
                                            <h5>${ article.auteur.username }</h5>
                                            <p>${ article.dateAdd }</p>
                                        </div>
                                        <div class="d-flex">
                                            <img src="/static/img/blog/user-img.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span v-html="article.contenu"></span>
                            <div class="news_d_footer">
                                <a href="#"><i class="far fa-thumbs-up"> </i>${ this.article.nbLike } people like this</a>
                                <a style="margin-left: 15%;" href="#" ><i class="far fa-eye"> Nombre de vues</i> ${ this.article.vues }</a>
                                <a class="justify-content-center ml-auto" href="#"><i class="lnr lnr lnr-bubble"></i>${ this.article.nbCom }
                                    Comments</a>
                                <div class="news_socail ml-auto">
                                        {% post_to_facebook object_or_url  %}
                                        {% post_to_gplus object_or_url %}
                                        {% post_to_linkedin  object_or_url %}
                                        {% post_to_twitter "article: {{ titre }}" object_or_url %}
                                </div>
                            </div>
                        </div>
                        <div class="navigation-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="#"><img class="img-fluid" src="/static/img/blog/prev.jpg" alt=""></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="#">
                                            <h4>A Discount Toner</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="#">
                                            <h4>Cartridge Is Better</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                    </div>
                                    <div class="thumb">
                                        <a href="#"><img class="img-fluid" src="/static/img/blog/next.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comments-area">
                            <h4>${ this.article.nbCom } Comments</h4>
                            <div v-if="content" v-for="(comment, index) in article.commentaires.edges" :key="index" >
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="/static/img/blog/c2.jpg" alt="">
                                            </div>
                                            <div class="desc">
                                                <h5><a href="#">Emilly Blunt</a></h5>
                                                <p class="date">${ comment.node.dateAdd }</p>
                                                <p class="comment">
                                                    ${ comment.node.contenu }
                                                </p>
                                            </div>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                                <div v-for="(re, index) in comment.node.reponses.edges" :key="index" class="comment-list left-padding">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="/static/img/blog/c2.jpg" alt="">
                                            </div>
                                            <div class="desc">
                                                <h5><a href="#">Elsie Cunningham</a></h5>
                                                <p class="date">${ re.node.dateAdd }</p>
                                                <p class="comment">
                                                    ${ re.node.contenu }
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-form">
                            <h4>Leave a Reply</h4>
                            <form>
                                <div class="form-group form-inline">
                                    <div class="form-group col-lg-6 col-md-6 name">
                                        <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Enter Name'">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 email">
                                        <input type="email" class="form-control" id="email" placeholder="Enter email address"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Subject'">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                </div>
                                <a href="#" class="primary-btn submit_btn text-uppercase">Send Message</a>
                            </form>
                        </div>
                    </div>
    
                    <div class="col-lg-4 sidebar">
                        <div class="single-widget search-widget">
                            <form class="example" action="#" style="margin:auto;max-width:300px">
                                <input type="text" placeholder="Search Posts" name="search2">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
    
                        <div class="single-widget protfolio-widget">
                            <img class="img-fluid" src="/static/img/blog/user2.png" alt="">
                            <a href="#">
                                <h4>Charlie ALison Barber</h4>
                            </a>
                            <div class="desigmation">
                                <p>Senior blog writer</p>
                            </div>
                            <p>
                                Boot camps have its supporters andit sdetractors. Some people do not understand why you
                                should have to spend
                                money on boot camp whenyou can get. Boot camps have itssuppor ters andits detractors.
                            </p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
    
                        <div  class="single-widget popular-posts-widget">
                            <h4 class="title">Popular Posts</h4>
                            <div class="blog-list ">
                                <div v-if="content" v-for="(article, index) in data_all_articles" :key="index" class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" :src=`${base_url}`+`media/`+`${article.node.photo}` alt="">
                                    </div>
                                    <div class="popular-details">
                                        <a href="">
                                            <h4>${ article.node.titre }</h4>
                                        </a>
                                        <p class="text-uppercase">${ article.node.dateAdd }</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="single-widget category-widget">
                            <h4 class="title">Post Categories</h4>
                            <ul>
                                <li v-for="cat in data_all_category"><a :href=`${base_url}`+`category/`+`${cat.node.titre}` class="justify-content-between align-items-center d-flex">
                                    <p>${ cat.node.titre }</p> <span>${ cat.node.articles.totalCount }</span>
                                    </a></li>
                            </ul>
                        </div>
    
                        <div class="single-widget newsletter-widget">
                            <h4 class="title">Newsletter</h4>
                            <div id="mc_embed_signup">
                                <form target="_blank" novalidate="true"  class="">
                                    <div class="form-group" style="width: 100%">
                                        <input name="EMAIL" placeholder="Email Address" v-model="new_email" required="" type="email">
                                        <div style="position: absolute; left: -5000px;">
                                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                        </div>
        
                                        <button v-on:click.prevent="Post_news" class="primary-btn text-uppercase">
                                            Subscribe Now
                                            <span class="lnr lnr-arrow-right"></span>
                                        </button>
                                    </div>
                                    <div class="info"></div>
                                </form>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area -->
{% endblock content %}

{% block vue %}
<script>
var app = new Vue({
    el: '#app',
    data: {
        loader: true,
		content:false,
		searching:false,
		new_email:"",
		data_email:"",
		search_result:[],
        base_url:"",
        titre: '',
		titre_search: '',
        article : '',
		all_category: [],
        data_all_category:[],
        data_all_articles:[],
		data_articles:[],
		message:false,
    },
    delimiters: ["${","}"],
    mounted(){
		this.titre = "{{ titre }}"
        this.base_url = window.location.protocol + '//' + window.location.host + '/'
		this.getdata();
    },
    methods: {
        Post_news: function(){
            console.log('data posting')
            axios.defaults.xsrfCookieName = 'csrftoken'
			axios.defaults.xsrfHeaderName = 'X-CSRFToken'
            axios({
                url: this.base_url + 'graphql',
                method: 'post',
                data: {
                    query: `
                    mutation{
						createCreatenewsletter(email:"${ this.new_email }"){
							email
						}
					}
                    `
                }
            })
            .then(response => {

				result = response.data.data
				this.data_articles = result.createCreatenewsletter.email
				this.new_email=""
                console.log(result)
            })
            .catch((err) => {
                console.log(err);
            })
        },
		Search_article: function(){
            console.log('data getting')
            axios.defaults.xsrfCookieName = 'csrftoken'
			axios.defaults.xsrfHeaderName = 'X-CSRFToken'
			this.content = false
            axios({
                url: this.base_url + 'graphql',
                method: 'post',
                data: {
                    query: `
                    query{
						search:allArticles(titre_Icontains: "${ this.titre_search }") {
							edges {
								node {
									titre
									titreSlug
									photo
									categorieId {
									titre
									id
									}
									dateAdd
									description
									commentaires {
									totalCount
									}
									likes {
									totalCount
									}
								}
								}
						}
					}
                    `
                }
            })
            .then(response => {

				result = response.data.data
				this.data_all_articles = result.search.edges
				this.content=true
                console.log(result)
            })
            .catch((err) => {
                console.log(err);
            })
        },
        getdata: function(){
            console.log('data getting')
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = 'X-CSRFToken'
            axios({
                url: this.base_url + 'graphql',
                method: 'post',
                data: {
                    query: `
                    query{
                        single: allArticles(titreSlug: "${ this.titre }") {
                            edges {
                            node {
                                id
                                photo
                                titre
                                vues
                                nbCom
                                nbLike
                                contenu
                                dateAdd
                                auteur {
                                username
                                }
                                commentaires {
                                totalCount
                                edges {
                                    node {
                                    dateAdd
                                    id
                                    contenu
                                    reponses {
                                        totalCount
                                        edges {
                                        node {
                                            id
                                            dateAdd
                                            contenu
                                        }
                                        }
                                    }
                                    }
                                }
                                }
                                tagName {
                                edges {
                                    node {
                                    nom
                                    }
                                }
                                }
                            }
                            }
                        }
                        allArticles(first: 5) {
                            edges {
                            node {
                                photo
                                titre
                                titreSlug
                                dateAdd
                            }
                            }
                        }
                        allCategories {
                            edges {
                            node {
                                id
                                titre
                                image
                                articles {
                                totalCount
                                }
                            }
                            }
                        }
						}
                    `
                }
            })
            .then(response => {
                result = response.data.data
                this.article = result.single.edges[0].node
                this.data_all_category = result.allCategories.edges
				this.data_all_articles = result.allArticles.edges
				this.content=true
                console.log(this.data_all_category)
				console.log(this.data_all_articles)
                console.log(this.article)
            })
            .catch((err) => {
                console.log(err);
            })
        },
    },
	
})
</script>
{% endblock vue %}